:root {
    --light-grey: #e5e5e5;
    --med-grey: #dadada;
    --dark-grey: #242424;
    --accent-color: red;
    --background-color:#fbfbfb;

}

html{
    height: 100%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--background-color);
}

a, a:link{
    text-decoration: none;
    transition: all .15s ease-in;
}

ul{
    list-style: none;
}

/* 

Brand Section(Site Logo, title)

*/

.brand-section {
    display: flex;
    background-color: var(--dark-grey);
    align-items: center;
    justify-content: start; /* Ensure space between logo and menu */
    position: relative;
    padding: 10px 30px;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
    border-bottom: solid 2px var(--accent-color);   
}

.logo-slogan-container {
    display: flex;
    align-items: center;
}

.brand-logo{
    margin: 0;
    width: 150px;
}

/* .brand-title{
    font-style: normal;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.2;
    color: white;
    text-rendering: optimizeLegibility;
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 10px;
    min-width: 200px;
} */

/* .brand-title::after{
    content: "Food fuckery and My 2 Cents ";
    position: absolute;
    color: white;
    left: 80px;
    bottom: 20px;
    width: 100%;
    font-style: normal;
    font-size: 0.7em;
    font-weight: 300;
    line-height: 1.2;
} */


/* 

Nav Styling

*/

.primary_menu{
    margin: 0 ; /* Center the primary_menu within the brand-section */
    padding: 0;
    border: 0;
    vertical-align: baseline;
    max-width: 500px; /* Adjust as needed */
    width: 100%;
    text-align: center; /* Center the items inside the menu */
}

.primary_menu .nav-container{
    display: block;
    background: #242424fc;
    color: #dadada;
    opacity: 0.95;
    width: 100%;
    box-sizing: border-box;
}

.primary_menu nav{
    display: block;
    max-width: 940px;
    text-align: center;
    padding: 0.8em 0;
    overflow: hidden;
}

/* Add gap between nav items */
.menuItems li a{
    margin-right: 10px; /* Adjust the value to set the desired gap */
}

/* Optional: Remove the margin on the last item */
.menuItems li:last-child a{
    margin-right: 0;
}

.primary_menu a{
    color: #dadada;
    background: 0;
    font-size: 1.3em;
    font-weight: bold;
    float: left;
    padding: 3px .6em;
    border-bottom: 1px solid transparent;
}

.primary_menu a:hover{
    color: white;
    border-bottom: 1px solid var(--accent-color);
}

.current_page_item a{
    color: white;
    border-bottom: 1px solid var(--accent-color);
}
/* 

Main Content section

*/

/* Main container CSS for the page */
.body-container {
    min-height: 650px;
    display: flex;
    align-items:start;
    justify-content: center;
    height: 90vh;
    margin: 0 auto;
    max-width: 1280px;
}

/* Content container */
.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Make sure content-container takes the full width */
    height: 100%; /* Make sure content-container takes the full height */
}


.page-title{
    width: 100%;
    max-width: 1280px;
    font-size: 3rem;
    font-weight: 600;
    padding: 10px 0px;
    margin-left: auto;
    margin-right: auto;
}


/* footer */

.footer{
    display: flex;
    margin-top: 30px;
    background: #242424;
    width: 100%;
    flex-shrink: 0;
    font-size: .8em;
    color: white;
}

.footer-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 15px 30px;
    border-top: 4px solid var(--accent-color);
    -webkit-box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
}

.fa-brands{
    font-size: 2rem;
    color: var(--light-grey);
}

.social-media-list {
    display: flex;
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.social-media-list li {
    margin-right: 15px; /* Add spacing between the items */
}

.social-media-list li:last-child {
    margin-right: 0; /* Remove right margin from the last item */
}

.secondary_menu{
    margin: 0 ; /* Center the primary_menu within the brand-section */
    margin-left: auto;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    max-width: 400px; /* Adjust as needed */
    width: 100%;
    text-align: center; /* Center the items inside the menu */
}

.secondary_menu .nav-container{
    display: block;
    background: #242424fc;
    color: #dadada;
    opacity: 0.95;
    width: 100%;
    box-sizing: border-box;
}

.secondary_menu nav{
    display: block;
    max-width: 940px;
    text-align: center;
    padding: 0.8em 0;
    overflow: hidden;
}

.secondary_menu a{
    color: #dadada;
    background: 0;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    padding: 3px .9em;
    border-bottom: 1px solid transparent;
}

.secondary_menu a:hover{
    color: white;
    border-bottom: 1px solid var(--accent-color);
}