.container {
    max-width: 1280px;
    margin: 50px auto;
}

p {
    font-weight: 300;
    line-height: 1.5;
    font-size: 14px;
    opacity: 0.8;
}

.blogcard-timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: black;
}
.blogcard-timeline:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    border-radius: 10px;
    height: 100%;
    background: var(--accent-color);
}
.blogcard-container {
    position: relative;
    margin-bottom: 2.5rem;
    box-shadow: 0 8px 21px -12px rgba(0, 0, 0, .68);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.blogcard-container:hover {
	box-shadow: 0 34px 32px -33px rgba(0, 0, 0, 0.19);
	transform: translate(0px, -3px);
}

.blogcard-icon {
    position: absolute;
    left: -88px;
    top: 4px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    background: var(--dark-grey);
}


.blogcard-icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.blogcard-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.blogcard-body:before {
    content: '';
    background: inherit;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 20px;
    left: -10px;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;
}

.blogcard-icon {
    background: var(--light-grey) !important;
}

.blogcard-container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.blogcard-body {
    display: flex;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, .1);
    align-items: center; /* Align items vertically centered */
    position: relative;
    background: var(--light-grey);
    border-radius: 3px;
    padding: 20px 20px 15px;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, .1);
}

.overlay {
    position:absolute;
    z-index: 1;
    left:0; top:0; bottom:0; right:0;
}

.blogcard-img {
    flex: 0 0 30%;
    height: auto; /* Let height adjust automatically based on width */
    max-height: 275px; /* Control the maximum height */
    border-radius: 10px;
    object-fit: cover;
}

.blogcard-textbox {
    flex: 1; /* The textbox takes up the remaining space */
    padding: 20px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blogcard-title {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
	font-weight: 600;
    font-size: 28px;
}

.blogcard-bar {
    width: 50px;
    height: 5px;
    margin: 0px 0px 15px 0px;
    border-radius: 5px;
    background-color: var(--accent-color);
    transition: width 0.2s ease;
}

.blogcard-container:hover .blogcard-bar{
    width: 80px;
}

.blogcard-description {
    font-size: 15px;
    color: var(--lighter-text);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.blogcard-tagbox {
	font-size: 14px;
	cursor: default;
}

.blogcard-tagbox {
    position:relative;
    pointer-events: none;
    z-index: 2;
    margin-top: 20px;
}

.blogcard-tagbox a {
    pointer-events: all;
  }

.blogcard-tag {
	display: inline-block;
	background: var(--dark-grey);
	color: white;
	border-radius: 3px 0 0 3px;
	line-height: 26px;
	padding: 0 10px 0 23px;
	position: relative;
    margin: 5px;
	margin-right: 20px;
	cursor: pointer;
	user-select: none;
	transition: color 0.2s !important;
}

.blogcard-tag:hover{
    background-color: var(--accent-color);
}

.blogcard-tag::before {
	content: '';
	position: absolute;
	background: white;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	height: 6px;
	left: 10px;
	width: 6px;
	top: 10px;
}

.blogcard-tag::after {
	content: '';
	position: absolute;
	border-bottom: 13px solid transparent;
	border-left: 10px solid var(--dark-grey);
	border-top: 13px solid transparent;
	right: -10px;
	top: 0;
}

.blogcard-tag:hover::after{
    border-left: 10px solid var(--accent-color);
}


/* Responsive Styles */
@media (max-width: 768px) {
    .blogcard-timeline {
        padding-left: 2rem;
        margin-left: 0;
    }

    .blogcard-icon {
        top: 13px;
        left: -48px;
        width: 35px;
        height: 35px;
    }

    .blogcard-body {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .blogcard-img {
        width: 100%;
        max-height: 350px;
        margin-bottom: 15px;
    }

    .blogcard-title {
        font-size: 24px;
    }

    .blogcard-description {
        font-size: 14px;
    }

    .blogcard-tag {
        font-size: 13px;
    }

    .blogcard-tagbox {
        margin-top: 15px;
    }
}
