
.aboutcard-container {
    margin: 50px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.aboutcard {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
	padding: 5px;
    margin-bottom: 30px;
    background-color: var(--background-color);
    font-size: 18px;
    overflow: hidden;
	flex-direction: row;
}

.aboutcard-innerbox.reverse {
    flex-direction: row-reverse;
}

.aboutcard-innerbox {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.aboutcard-img {
    flex: 0 0 30%;
    width: 100%; /* Allow the image to take up its container width */
    max-width: 40%; /* Ensure the image does not exceed 30% of the card's width */
    height: auto; /* Let height adjust automatically */
    max-height: 450px;
    border-radius: 10px;
    object-fit: cover; /* Ensure the image covers the area without stretching */
}

.aboutcard-textbox {
    flex: 1; /* The textbox takes up the remaining space */
    padding: 20px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutcard-title {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
	font-weight: 600;
    font-size: 28px;
}

.aboutcard-bar {
    width: 50px;
    height: 5px;
    margin: 0px 0px 15px 0px;
    border-radius: 5px;
    background-color: var(--accent-color);
    transition: width 0.2s ease;
}
.aboutcard-description {
    font-size: 15px;
    color: #424242;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Mobile Styles */
@media screen and (max-width: 768px) {
	.aboutcard {
        height: auto; /* Allow height to adjust based on content */
        flex-direction: column; /* Stack the image on top and textbox below */
        overflow: visible; /* Ensure content is not hidden */
    }

	.aboutcard-innerbox.reverse {
		flex-direction: column-reverse;
	}

    .aboutcard-innerbox {
        flex-direction: column-reverse; /* Ensure the innerbox stacks its content vertically */
        width: 100%;
    }

    .aboutcard-img {
        flex: 0 0 auto; /* Ensure the image takes its necessary space */
        width: 90%; /* Image takes full width */
        max-height: 100%; /* Adjust as needed */
		max-width: 100%; 
        object-fit: cover; /* Ensure the image covers the area without stretching */
    }

    .aboutcard-textbox {
        flex: 1 0 auto; /* Allow textbox to grow and shrink as needed */
        padding: 15px; /* Adjust padding for smaller screens */
        font-size: 15px; /* Adjust font size for smaller screens */
        display: block; /* Ensure textbox is visible */
        overflow: visible; /* Ensure content is not hidden */
    }
}