.aboutcard-container {
	margin: 25px 0;
	max-width: 1280px;
}

.aboutcard-container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.aboutcard {
    display: flex;
    align-items: center;
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
    background-color: var(--background-color);
    font-size: 18px;
    overflow: hidden;
}

.aboutcard-innerbox.reverse {
    flex-direction: row-reverse;
}

.aboutcard-innerbox {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.aboutcard-img {
    flex: 0 0 30%; /* The image takes up 30% of the card's width */
    max-height: 85%;
    border-radius: 10px;
    object-fit: cover; /* Ensure the image covers the area without stretching */
}

.aboutcard-textbox {
    flex: 1; /* The textbox takes up the remaining space */
    padding: 20px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutcard-title {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
	font-weight: 600;
    font-size: 28px;
}

.aboutcard-bar {
    width: 50px;
    height: 5px;
    margin: 0px 0px 15px 0px;
    border-radius: 5px;
    background-color: var(--accent-color);
    transition: width 0.2s ease;
}
.aboutcard-description {
    font-size: 15px;
    color: #424242;
    overflow: hidden;
    text-overflow: ellipsis;
}